<div class="frame">
  <div class="container">
      <div class="image"><img src="http://via.placeholder.com/500x500"/></div>
      <div>
          <ul id="header">
            <li class="Name">Buddy</li>
            <li class="Sex">M</li>
            <li class="Age">2yrs</li>

            <li class="distance">( 2mi )</li>
          </ul>
          <ul id="subHeader">
            <li class="Name">City</li>
            <li class="Sex">State</li>
          </ul>
      </div>

      <app-buttons></app-buttons>
  </div>
</div>