@import url('https://fonts.googleapis.com/css?family=Space+Mono&display=swap');

footer{
    color: grey;
    text-align: center;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
}