@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.modal {
  z-index: 4;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}

.modalBody {
  margin: auto;
  background-color: white;
  border-radius: 4px;
  max-height: 75%;
  padding: 10px;

  #closeModal {
    font-size: 2em;
    color: black;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-align: right;
  }

  #closeModal:hover {
    cursor: pointer;
  }
}

.hide-modal {
  display: none;
}

#enlargedImage {
  .modalBody {
    height: 75%;
    width: 60%;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
    // background-image: url(../image/bonesAndPaws.jpg);
    // background-repeat: repeat;

    a{
        color: rgb(92, 170, 195);
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }

    a:visited{
        color: rgb(92, 137, 195)
    }

    h2,
    h3 {
      color: rgb(54, 54, 54);
    }

    .profile {
      flex: 1 1;
      overflow: hidden;
      display: flex;

      .profileImage {
        flex: 1;
        justify-content: center;
        height: 100%;
        margin: auto;
        align-items: center;
        display: flex;
        padding: 10px;

        img {
          margin: auto;
          max-width: 100%;
          max-height: 100%;
          //width: 100%;
        }
      }

      .bio {
        flex: 1;
        padding: 10px;
        overflow: scroll;
        overflow-x: hidden;
        overflow-y: auto;

        h2 {
          font-size: 2em;
        }
        p {
          margin: 4px 0;
          width: 100%;
          color: rgb(78, 78, 78);
        }

        dl {
          margin-left: 20px;
          dt {
            font-weight: 600;
          }
          dd {
            margin: 0 10px 0 5px;
          }
          span {
            display: block;
            margin: 4px 0;
          }

          dt,
          dd {
            display: inline;
            color: rgb(87, 87, 87);
          }
        }
      }
    }
  }
}

@media (max-width: 950px) {
  #enlargedImage {
    .modalBody {
      width: 80%;

      .profile {
        flex-direction: column;
        .profileImage {
        }
        .bio {
          p {
            margin: 4px 0;
            width: 100%;
          }

          dl {
            margin-left: 5px;
          }
        }
      }
    }
  }
}

@media (max-width: 768px){
  
  .modalBody #closeModal {
    font-size: 1.25em;
  }

  #enlargedImage {
    .modalBody {
      a{
        font-size: 21px;
      }
      .profile {
      .bio {
        dl{
          font-size: 12px;
        }

        h2, h3{
          font-size: 14px;
        }
      }
    }
    }
  }
}
