/* Coolors Exported Palette - coolors.co/1be7ff-33658a-f86624-ea3546-ff5714 */

/* HSL */
$lightBlue: hsla(186%, 100%, 55%, 1);
$primeBlue: hsla(206%, 46%, 37%, 1);
$neonGreen: hsla(150%, 94%, 61%, 1);
$brightPink: hsla(354%, 81%, 56%, 1);
$primeOrange: hsla(17%, 100%, 54%, 1);

/* RGB */
$lightBlue: rgba(27, 231, 255, 1);
$primeBlue: rgba(51, 101, 138, 1);
$neonGreen: rgba(64, 249, 155, 1);
$brightPink: rgba(234, 53, 70, 1);
$primeOrange: rgba(255, 87, 20, 1);